body {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    color: #040815;
    margin: 0;
    padding-left: 28px;
    padding-right: 28px;
}

h2 {
    font-size: 18px;
    font-weight: 600;
    color: #040815;
    margin: 0;
    padding-left: 28px;
    padding-right: 28px;
}

h3 {
    font-size: 16px;
    font-weight: 400;
    color: #040815;
    margin: 0;
    padding-left: 28px;
    padding-right: 28px;
}

p.content {
    color: #596780;
    font-size: 14px;
    margin: 0;
    padding-left: 28px;
    padding-right: 28px;
}

div.scroll-container {
    margin: 0;
    overflow: auto;
    white-space: nowrap;
}

div.scroll-container::-webkit-scrollbar {
    display: none;
}

div.scroll-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

div.scroll-container img {
    width: 60%;
    aspect-ratio: 1080 / 2340;
    margin-right: 16px;
}

#footer {
    color: #040815;
    font-size: 12px;
    margin: 0;
    padding-left: 28px;
    padding-right: 28px;
}

#footer a  {
    color: #054EDB;
    font-size: 12px;
}

.article * {
    padding: 0;
}

.article p, ul, ol{
    color: #040815;
    font-size: 14px;
    margin: 0;
}

.article h2 {
    padding-top: 32px;
    padding-bottom: 12px;
}

hr {
    border: none;
    height: 2px;
    background-color: #e3e3e3;
}

.follow-row {
    display: flex;
    gap: 16px
}

.primary-button {
    background-color: #007bff; /* Blue color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }

  .primary-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  